* {
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer {
  background-color: #b3b3b3;
  height: 40vh;
  margin-top: 5%; }
  footer .cirlce6 {
    width: 100%; }
  footer p {
    color: white;
    font-weight: bolder;
    margin-left: 2%; }

body {
  margin: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

.box, .contents .content-1, .contents .content-2, .contents .content-3, .contents .content-4 {
  background-color: #ddeeee;
  color: #e69500;
  margin-top: 2%;
  height: 20vh;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  border-radius: 10px;
  border-top-style: solid;
  border-bottom-style: solid;
  font-size: 1em;
  text-align: center;
  margin: 1%; }
  .box:last-child, .contents .content-1:last-child, .contents .content-2:last-child, .contents .content-3:last-child, .contents .content-4:last-child {
    margin-right: 0; }

.container-img, section.row1 div img, section.row2 div img, section.row3 img {
  max-width: 100%;
  width: 50vw;
  height: 50vh;
  border: 5px solid #ecc8d6;
  border-radius: 10px;
  border-top-style: solid;
  border-bottom-style: solid; }

div h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  color: #ff577b; }

section.main-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  section.main-header:last-child {
    margin-right: 0; }
  section.main-header img.main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    width: 100%; }
    section.main-header img.main:last-child {
      margin-right: 0; }
  section.main-header div.header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-transform: uppercase;
    color: gray;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin-left: 3%; }
    section.main-header div.header:last-child {
      margin-right: 0; }
  section.main-header nav.navbar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.main-header nav.navbar:last-child {
      margin-right: 0; }
  section.main-header li {
    display: inline-block;
    list-style: none;
    padding: 0.5%;
    border-left: 1px solid gray; }
  section.main-header a {
    text-decoration: none;
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold; }

section.second-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #d62c6d;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3%;
  font-family: 'Poiret One', cursive; }
  section.second-header:last-child {
    margin-right: 0; }

.contents {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .contents::after {
    clear: both;
    content: "";
    display: block; }

section.row1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  section.row1::after {
    clear: both;
    content: "";
    display: block; }
  section.row1 div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section.row1 div:last-child {
      margin-right: 0; }

section.row2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  section.row2::after {
    clear: both;
    content: "";
    display: block; }
  section.row2 div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.row2 div:last-child {
      margin-right: 0; }

section.row3 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  section.row3::after {
    clear: both;
    content: "";
    display: block; }
  section.row3 div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section.row3 div:last-child {
      margin-right: 0; }

/*# sourceMappingURL=styles.css.map */
