@import 'bourbon/bourbon';
@import 'neat/neat';

//colors
$margin-top: 3%;
$header-margin:4%;
$blue:lighten(#99cccc,20%);
$orange:darken(orange,5%);
//mixins
@mixin border-radius($radius){
  border-radius: $radius;
}

.images{
  position: relative;
  overflow: hidden;
}
.logo{
  max-width: 30%;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1
}
.box{
  background-color: $blue;
  color: $orange;
  margin-top: 2%;
  height: 15vh;
  @include span-columns(3);
  @include border-radius(10px);
}
  .main-header{
    .images {
      @include span-columns(12);
      width: 100%;
      height: 30vh;
    }
    .main {
      @include span-columns(12);
      max-width: 100%;
      height: 30vh;
    }
  .header {
  @include span-columns(12);
  text-transform: uppercase;
  color: gray;
  font-family: $helvetica;
  font-weight: normal;

  }
  .navbar{
    @include span-columns(12);
    margin-top: $margin-top;
  }
  li{
    display: inline-block;
    list-style: none;
    padding: 0.5%;
    border-left: 1px solid gray;
 }
  a{
    text-decoration: none;
  }
}
.second-header{
  @include span-columns(12);
  background-color: #f04f23;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.contents{
    @include span-columns(12);

  .content-1{
    @extend .box;
  }
  .content-2{
    @extend .box;
  }
  .content-3{
    @extend .box;
  }
  .content-4{
    @extend .box;
  }
}
.cirlce-imgaes{
  width: 100%;
  margin-top: $margin-top;
}
