@import 'base/normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'helpers/variables';
@import 'helpers/mixins';

body{
  margin: 0;
}
.box {
    background-color: $blue;
    color: $orange;
    margin-top: 2%;
    height: 15vh;
    @include span-columns(3);
    @include border-radius(10px);
}
section.main-header {
  @include span-columns(12);
    img.main {
        @include span-columns(12);
        width: 100%;
    }
    div.header {
        @include span-columns(12);
        text-transform: uppercase;
        color: gray;
        font-family: $helvetica;
        font-weight: normal;
    }
    nav.navbar {
        @include span-columns(12);
    }
    li {
        display: inline-block;
        list-style: none;
        padding: 0.5%;
        border-left: 1px solid gray;
    }
    a {
        text-decoration: none;
    }
}
section.second-header {
  @include span-columns(12);
    background-color: #f04f23;
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.contents {
    @include outer-container;
    .content-1 {
        @extend .box;
    }
    .content-2 {
        @extend .box;
    }
    .content-3 {
        @extend .box;
    }
    .content-4 {
        @extend .box;
    }
}
section.row1 {
  @include outer-container;

  div{
    @include span-columns(6);
    img{
      max-width: 100%;
      width: 50vw;
      height: 50vh;
    }

  }
}
section.row2 {
  @include outer-container;

  div{
    @include span-columns(4);
    img{
      max-width: 100%;
      width: 50vw;
      height: 50vh;
    }

  }
}
.cirlce6 {
    width: 100%;
    margin-top: $margin-top;
}
