footer{
  background-color:lighten(gray, 20%);
  height: 40vh;
  margin-top: 5%;
  position: relative;
  @media screen and (max-width: 500px){
    display: none;
  }
  .cirlce6 {
      width: 100%;
  }
  p{
    color:white;
    font-weight: bolder;
    margin-left: 2%;
  }

}
