@mixin border-radius($radius){
  border-radius: $radius;
  @include border-style(solid null solid);
}

@mixin social-icons {

		&.social {

			background-repeat: no-repeat;
			transition:all 0.2s ease;
      position: absolute;

			@each $icon in $social {

				&.#{$icon} {

					background-image:url("../img/social-#{$icon}-2.png");

				}

			}

			&:hover {

				opacity:0.7;
				transition:all 0.2s ease;

			}

		}

}
